body {
    font-family: Arial;
    font-size: 16px;
    text-align: justify;
    padding: 1%;
    background-image: linear-gradient(to bottom,#113E59, #2995D9, #6DB4DF);
    background-attachment: fixed;
}

nav {
    text-align: center;
    background-color: whitesmoke;
}

#atendimento {
    text-align: right;
}

header {
    text-align: center;
}

#img-topo {
    background-color: #2995D9;
    height: 200px;
}
h1 {
    text-align: center;
    color: #113E59;
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
#grade {
    display: grid;
    grid-template-areas: "imagem texto";
}
.imagem {
    text-align: center;
}
.texto {
    text-align: center;
}
#wagner {
    border-radius: 50%;
}
#professor{
    background-color: #2995D9;
    text-align: center;
    padding: 1%;
}
#cursos{
    background-color: #2995D9;
    text-align: center;
    padding: 1%;
    width: 90%;
    margin: auto;
}
h4 {
    color: white;
    font-size: 22px;
}
#logo-rodape {
    border-radius: 10%;
} 
footer {
    background-color: #2995D9;
    text-align: center;
    color: white;
    padding: 1%;
}
hr {
    color: #2995D9;
    width: 90%;
}
hr.branco {
    color: white;
    width: 70%;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #2995D9;
}
a:hover {
    background-color: #2995D9;
    color:white;
    transition: 0.5s;
}
#container {
    background: white;
    padding: 1px;
    border-radius: 3px;
}
.conteudo {
    padding: 5%;
}